<h1>Make a new user</h1>

<form method='post' action='/users'>
<div>
  <input type='text' name='username' placeholder='Enter Username'/>
  </div>
  <div>
  <input type='text' name='email' placeholder='Enter Email'/>
  </div>
  <div>
  <input type='password' name='password' placeholder="Enter Password" />
  <div>
  <input type='submit' />
  </div>
</form>