
<h1>Create New Post</h1>

<form action='/posts' method='post'>

  <div>
    <span>Title:</span>
    <input type='text' name='title'/>
  </div>

  <div>
    <span>Author:</span>
    <input type='text' name='author'/>
  </div>


    <span>Body:</span>
   <div>
    <textarea cols='40' rows='10'></textarea>
  </div>

    <div>
      <input type='submit' value='Submit'/>
    </div>

</form>